<p></p>
<div class="cell-output-container">
  <label>
    Output Negated:
    <input type="radio" name="outputNegated" [(ngModel)]="outputNegated" [value]="true" (change)="onOutputNegatedChange()"> True
    <input type="radio" name="outputNegated" [(ngModel)]="outputNegated" [value]="false" (change)="onOutputNegatedChange()"> False
  </label>
</div>
<br>
<div class="silent-time-container">
  <label>
    Silent Time:
    <input type="number" [(ngModel)]="silentTime" (change)="onSilentTimeChange()">
  </label>
  <label>
    <input type="radio" name="silentTimeUnit" value="ms" [checked]="silentTimeUnit === 'ms'" (change)="onSilentTimeUnitChange('ms')"> ms
  </label>
  <label>
    <input type="radio" name="silentTimeUnit" value="us" [checked]="silentTimeUnit === 'us'" (change)="onSilentTimeUnitChange('us')"> us
  </label>
  <label>
    <input type="radio" name="silentTimeUnit" value="ns" [checked]="silentTimeUnit === 'ns'" (change)="onSilentTimeUnitChange('ns')"> ns
  </label>
</div>
