h1{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

.blue-text {
  color: #007BFF;
  cursor: pointer;
}

.number-row {
  display: flex;
  gap: 5px;
}

.number-row span {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.number-row span.gray {
  color: #d3d3d3;
}

.number-row span.black {
  color: #000000;
}

.negation-symbol {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.negation-symbol.gray {
  color: #d3d3d3;
}

.negation-symbol.red {
  color: red;
}

.confirmation {
  margin-top: 20px;
  text-align: center;
}

.confirmation button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.confirmation button:hover {
  background-color: #45a049;
}

.silent-time-container {
  margin-top: 10px;
}

/* Centering Edge Counter */
.edge-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
