<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Input | Input &not;</th>
      <th>AND | AND &not;</th>
      <th>OR | OR &not;</th>
      <th>AND | AND &not;</th>
      <th>OUTPUT | OUTPUT &not;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; let rowIndex = index">
      <td>{{ row.id }}</td>
      <td>
        <div class="edge-counter-container">
          <span class="blue-text" (click)="showInputComponent(rowIndex)">
            {{ row.input }}
          </span>
        </div>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and1', rowIndex)">
          <div class="number-row">
            <span *ngFor="let state of row.and1CheckboxStates; let i = index"
                  [class.gray]="!state.active"
                  [class.black]="state.active">
              {{ i + 1 }}
            </span>
          </div>
          <div class="number-row">
            <span *ngFor="let state of row.and1CheckboxStates; let i = index"
                  class="negation-symbol"
                  [class.gray]="!state.negated"
                  [class.red]="state.negated">
              &not;
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('or', rowIndex)">
          <div class="number-row">
            <span *ngFor="let state of row.orCheckboxStates; let i = index"
                  [class.gray]="!state.active"
                  [class.black]="state.active">
              {{ i + 1 }}
            </span>
          </div>
          <div class="number-row">
            <span *ngFor="let state of row.orCheckboxStates; let i = index"
                  class="negation-symbol"
                  [class.gray]="!state.negated"
                  [class.red]="state.negated">
              &not;
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and2', rowIndex)">
          <div class="number-row">
            <span *ngFor="let state of row.and2CheckboxStates; let i = index"
                  [class.gray]="!state.active"
                  [class.black]="state.active">
              {{ i + 1 }}
            </span>
          </div>
          <div class="number-row">
            <span *ngFor="let state of row.and2CheckboxStates; let i = index"
                  class="negation-symbol"
                  [class.gray]="!state.negated"
                  [class.red]="state.negated">
              &not;
            </span>
          </div>
        </span>
      </td>
      <td>
        <div class="edge-counter-container">
          <span class="blue-text" (click)="showOutputComponent(rowIndex)">
            {{ row.output }}
            <span *ngIf="row.outputNegated" class="negation-symbol">&not;</span>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="confirmation">
  <button (click)="generateJsonFile()">Calcola</button>
</div>
<div *ngIf="selectedInputIndex !== null" class="cell-input-container">
  <app-cell-input
    [inputValue]="rows[selectedInputIndex]['input']"
    [inputType]="rows[selectedInputIndex]['inputType']"
    [sampled]="rows[selectedInputIndex]['sampled']"
    [edgeDetect]="rows[selectedInputIndex]['edgeDetect']"
    [edge]="rows[selectedInputIndex]['edge']"
    [frequency]="rows[selectedInputIndex]['frequency']"
    [duty]="rows[selectedInputIndex]['duty']"
    [polarity]="rows[selectedInputIndex]['polarity']"
    [silentTime]="rows[selectedInputIndex]['silentTime']"
    [silentTimeUnit]="rows[selectedInputIndex]['silentTimeUnit']"
    (updateInputType)="updateInputType($event)"
    (updatePulserOptions)="updatePulserOptions($event)"
    (updateSilentTime)="updateSilentTime($event)">
  </app-cell-input>
</div>
<div *ngIf="selectedCheckColumn && selectedCheckIndex !== null">
  <app-cell-check
    [column]="selectedCheckColumn"
    [index]="selectedCheckIndex"
    [selectedStates]="getCheckboxStates(selectedCheckColumn, selectedCheckIndex)"
    (update)="updateNumbers($event)">
  </app-cell-check>
</div>
<div *ngIf="selectedOutputIndex !== null">
  <app-cell-output
    [outputNegated]="rows[selectedOutputIndex]['outputNegated']"
    [silentTime]="rows[selectedOutputIndex]['silentTime']"
    [silentTimeUnit]="rows[selectedOutputIndex]['silentTimeUnit']"
    (updateOutputNegated)="updateOutputNegated($event)"
    (updateSilentTime)="updateSilentTime($event)">
  </app-cell-output>
</div>
