<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>  <!-- Aggiungi l'intestazione della colonna ID -->
      <th>Input | Input &not;</th>
      <th>AND | AND &not;</th>
      <th>OR | OR &not;</th>
      <th>AND | AND &not;</th>
      <th>OUTPUT | OUTPUT &not;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; let rowIndex = index">
      <td>{{ row.id }}</td>  <!-- Mostra l'ID della riga -->
      <td>
        <span class="blue-text" (click)="showInputComponent(rowIndex)">
          {{ row.input }} {{ row.inputUnit }}
        </span>
        <div *ngIf="selectedInputIndex === rowIndex">
          <label>
            <input type="radio" name="inputUnit{{rowIndex}}" value="ms" [checked]="row.inputUnit === 'ms'" (change)="updateInputUnit('ms')"> ms
          </label>
          <label>
            <input type="radio" name="inputUnit{{rowIndex}}" value="us" [checked]="row.inputUnit === 'us'" (change)="updateInputUnit('us')"> us
          </label>
          <label>
            <input type="radio" name="inputUnit{{rowIndex}}" value="ns" [checked]="row.inputUnit === 'ns'" (change)="updateInputUnit('ns')"> ns
          </label>
        </div>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and1', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.and1CheckboxStates[i-1].active"
                  [class.black]="row.and1CheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('or', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.orCheckboxStates[i-1].active"
                  [class.black]="row.orCheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and2', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.and2CheckboxStates[i-1].active"
                  [class.black]="row.and2CheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showOutputComponent(rowIndex)">
          {{ row.output }} {{ row.outputUnit }}<span *ngIf="row.outputNegated"> &not;</span>
        </span>
        <div *ngIf="selectedOutputIndex === rowIndex">
          <label>
            <input type="radio" name="outputUnit{{rowIndex}}" value="ms" [checked]="row.outputUnit === 'ms'" (change)="updateOutputUnit('ms')"> ms
          </label>
          <label>
            <input type="radio" name="outputUnit{{rowIndex}}" value="us" [checked]="row.outputUnit === 'us'" (change)="updateOutputUnit('us')"> us
          </label>
          <label>
            <input type="radio" name="outputUnit{{rowIndex}}" value="ns" [checked]="row.outputUnit === 'ns'" (change)="updateOutputUnit('ns')"> ns
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button (click)="generateJsonFile()">Calcola</button>
</div>
<div *ngIf="selectedInputIndex !== null" class="cell-input-container">
  <app-cell-input
    [inputValue]="rows[selectedInputIndex]['input']"
    [inputType]="rows[selectedInputIndex]['inputType']"
    (updateInputType)="updateInputType($event)">
  </app-cell-input>
</div>
<div *ngIf="selectedCheckColumn && selectedCheckIndex !== null">
  <app-cell-check
    [column]="selectedCheckColumn"
    [index]="selectedCheckIndex"
    [selectedStates]="getCheckboxStates(selectedCheckColumn, selectedCheckIndex)"
    (update)="updateNumbers($event)">
  </app-cell-check>
</div>
<div *ngIf="selectedOutputIndex !== null">
  <app-cell-output
    [outputNegated]="rows[selectedOutputIndex]['outputNegated']"
    (updateOutputNegated)="updateOutputNegated($event)">
  </app-cell-output>
</div>
