<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>Input | Input &not;</th>
      <th>AND | AND &not;</th>
      <th>OR | OR &not;</th>
      <th>AND | AND &not;</th>
      <th>OUTPUT | OUTPUT &not;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; let rowIndex = index">
      <td>
        <span class="blue-text" (click)="showInputComponent(rowIndex)">
          {{ row.input }}
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and1', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.and1CheckboxStates[i-1].active"
                  [class.black]="row.and1CheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('or', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.orCheckboxStates[i-1].active"
                  [class.black]="row.orCheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showCheckComponent('and2', rowIndex)">
          <div class="number-row">
            <span *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [class.gray]="!row.and2CheckboxStates[i-1].active"
                  [class.black]="row.and2CheckboxStates[i-1].active">
              {{ i }}
            </span>
          </div>
        </span>
      </td>
      <td>
        <span class="blue-text" (click)="showOutputComponent(rowIndex)">
          {{ row.output }}<span *ngIf="row.outputNegated"> &not;</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <a>
    <input type="button" name="conferma" value="calcola">
  </a>
</div>
<div *ngIf="selectedInputIndex !== null" class="cell-input-container">
  <app-cell-input
    [inputValue]="rows[selectedInputIndex]['input']"
    [inputType]="rows[selectedInputIndex]['inputType']"
    (updateInputType)="updateInputType($event)">
  </app-cell-input>
</div>
<div *ngIf="selectedCheckColumn && selectedCheckIndex !== null">
  <app-cell-check
    [column]="selectedCheckColumn"
    [index]="selectedCheckIndex"
    [selectedStates]="getCheckboxStates(selectedCheckColumn, selectedCheckIndex)"
    (update)="updateNumbers($event)">
  </app-cell-check>
</div>
<div *ngIf="selectedOutputIndex !== null">
  <app-cell-output
    [outputNegated]="rows[selectedOutputIndex]['outputNegated']"
    (updateOutputNegated)="updateOutputNegated($event)">
  </app-cell-output>
</div>
